*
{
    margin:0px;
    padding: 0px;
    font-family: 'Hind', sans-serif;
    font-family: 'Signika Negative', sans-serif;


}



/* body{
    max-width: 2100px;
} */





/* here is the container */
/* the side div in the container */


#sideDiv
    {
        display: flex;
        
        padding-top: 20px;
        padding-left: 10px;
        /* box-shadow: 0px 20px 10px -15px #111; */
        margin: 10px;
       float: left;
    }
    
aside{
    display: inline-block;
    border-right: 2px solid black;
    float:left;
    width: 200px;
    

}

#sideList li{
    list-style-type: none;
}
#sideList a{
    padding: 5px;
    font-size:14px;
    text-decoration: none;
    color:black;
    line-height:25px;

}

#sideList a:hover{
    color: rgb(186, 74, 33);
}

/* this is the main div which contian the products sections  */
#container
{
     height:1500px;
}
 #mainDiv{
     display:inline-block;
    
     width: 500px;
    
    
     float: left; 
     /* padding-left: 50px;
     margin-left: 20px; */
     /* box-shadow: inset; */

 }
   

/* Fragrances */

.first-section{
    display: inline-block;
    /* float: right;  */
    box-shadow: 0px 15px 10px -15px  gray;
    /* margin: buttom 30px; */
}
 #firstp{
    font-weight: 700;
    font-size:30px;
  padding: 10px;
  

}

 
 #childImage{
     width: 1030px;
   margin: 20px;

 }


 /* best seller section */

 .container-slides{
     /* height: 100px; */
    
     
     display:inline-block;
     /* padding: 30px; */
     /* text-align: center; */
     height:350px;
     width:1000px;
     margin:20px;
 }
 .slides{
     padding:10px;
 }
 .product-container {
    height:20px;
    width:20px;
  margin: 10px;
    
 }
 .product-container .product-img img{ 
     height:150px;
     width:100px;
     

 }


 
.product-img a{ 
     text-decoration: none;
     color:black;
    

 }


.product-img img{ 
    height:150px;
    margin:10px;
    /* width: 60px; */
    /* padding: 10px; */
}
/* 
.swiper{
    width:40px;
} */
.product-rate li{
    display: inline-block;
}

.fa-regular{
    color:orange;
}
.fa-star{
    color:orange;
}

 /*  style of Shop by Category*/
 #categorydiv{
     margin-top: 100px;
    width: 1100px;
     box-shadow: 0px 15px 10px -15px gray;
 /* max-width: 1500px; */
  
   
}

 #categorydiv img{
     height: 250px;
     width: 250px;
     /* padding: 10px; */
     margin: 10px;
 }


 /* Shop by Price */


/* Shop by Brand */

#brand{
    
    width: 1100px;
    margin-top: 10px;
    direction:ltr;
    
    box-shadow: 0px 15px 10px -15px gainsboro;

   
    /* padding-top: 10px; */


    
    
}

#brand img{
    height: 200px;
    width:200px;
    margin: 20px;
}



/* Shop by Scent Type
#shopType{
    margin-top: 20px;
    box-shadow: 0px 15px 10px -15px gainsboro;
max-width: 1500px;
   /* margin: 10px; */
    /* padding-top: 20px; */
    /* float: right; */
/* }
#shopType img{
    height: 250px;
    width: 250px;
    padding: 10px;
    /* margin: 10px; */
/* } */






#beforeproduct{
    display: inline-block;
    box-shadow: 0px 15px 10px -15px  gray;
    border:1px solid gray;
    border-radius:5px;
    width:1000px; 
    
     height:30px; 
     padding-top:10px; 
     margin: 20px;
     margin-top: 40px;
float:left;
}
#products{
    width: 1100px;
    
}


/* .productContain{
    margin-top: 10px;
    background-color:rgb(251, 251, 251);
    height:320px;
    width: 310px;
    position:relative;    
     text-align:center;
     display: inline-block;
     margin-right: 50px;
     border:solid 1px rgb(230, 224, 224)
    }

.productContain a{
        text-decoration:none;
   color:black;

    } */

    /* the menu of the products */
#menu{
        /* height:1000px; */
        width: 1090px;
        height:2000px;
       margin: 10px;
       
        float:left;
        display: inline-block;
        
 }
 .product-content{
        display:inline-block;
        height:250px;
           width: 300px; 
             margin:20px;

             box-shadow: 0px 15px 10px -15px grey;
              /* justify-content: center; */
            text-align: center;
             background-color: rgb(251, 245, 245);

}
    
 .product-content img{
      padding: 10px;
        width: 200px;
        height:250px;
        text-align: center;
          
    }
    
    
.product-content img{ 
        
        /* float: right; */
         height:250px;
         width:200px;
    background-color: white;
         /* background-color:rgb(240, 239, 239); */
         /* width :80px; */
         text-align: center;
         margin: 20px;
         
     }

    /* see more */
    #latestdiv{
        background-color: rgb(196, 191, 191);
        border-radius: 10px;
        height: 40px;
        margin: auto;
        margin-top: 30px;
        text-align: center;
        padding-top:10px ;
        float: left;
        width: 1030px;
    }

    #latestdiv a{
        color: rgb(31, 121, 173);
        text-decoration:none;
        font-size: 20px;
    }

    #latestdiv a:hover{
        color:orangered;
        text-decoration: underline;
    }
   